
#CanvasSpace{
  
  background-image: url("tabparchis.jpg");
  
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}

div.dice{
	float:left;
	width:32px;
	background:#F5F5F5;
	border:#999 1px solid;
	padding:10px;
	font-size:24px;
	text-align:center;
	margin:5px;
}